<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.shreesaiconsultancy.android.obhadegadi">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.getStartedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.vehicleHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.ownerRegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.ownerLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.ownerHistoryActivity"
            android:label="History"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.showVehiclesActivity"
            android:label="Vehicles"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.addVehicleDetailsActivity"
            android:label="New Vehicle"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.userHomeActivity"
            android:label="Home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.uploadVehicleActivity"
            android:label="Upload Documents"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.customerLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.cutomerRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.vehicleDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />
        <activity
            android:name="in.shreesaiconsultancy.android.obhadegadi.searchVehicleActivity"
            android:screenOrientation="portrait"
            android:label="Get a ride"
            android:theme="@style/AppTheme2"></activity>
    </application>

</manifest>